In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from functools import reduce

import geopandas as gpd
from shapely.ops import nearest_points

import warnings
warnings.filterwarnings("ignore")

import os
GEODATA_PATH = 'data/geodata/'
TABULAR_PATH = 'data/tabular/'
OUTPUT_PATH = 'data/output/'
data_files = os.listdir(TABULAR_PATH)

Helper Functions

In [2]:
def get_sex_age_cols(pop_df,sex="bot",min_age=7,max_age=25):
    clean_cols = [col.replace('und_','').replace('_and_ove','') for col in pop_df.columns]
    pop_df.columns = clean_cols
    sex_single_age_cols = [col for col in clean_cols if col.split("_")[-2:][0]==sex]
    age_groups = [col for col in sex_single_age_cols if (int(col.split("_")[-1])>=min_age)\
                        & (int(col.split("_")[-1])<=max_age)]
    return age_groups

def get_road_brgy_psgc(road_geom,brgy_df):
    brgy_intersects  = brgy_df['geometry'].intersects(road_geom)
    brgy_codes = set(brgy_df.loc[brgy_intersects,"Bgy_Code"].values.tolist())

    return brgy_codes

def get_road_prov_info(road_geom,brgy_df):
    brgy_intersects  = brgy_df['geometry'].intersects(road_geom)
    prov_names = set(brgy_df.loc[brgy_intersects,"Pro_Name"].values)

    return prov_names

Schools data

In [3]:
population_df = pd.read_excel(TABULAR_PATH+'Population 2010, 2015 ARMM,BCT.xlsx')
cond = population_df['PSGC_REGI']=='PH150000000'
population_df=population_df[cond].reset_index(drop=True)
print("population_df",population_df.shape)

schools_meta_df = pd.read_excel(TABULAR_PATH+'SchoolsDepEd2017.xlsx',
                                usecols=['SCH_ID', 'SCH_NAME', 'SCH_CAT', 'SCH_TYPE', 
                                         'LAT', 'LONG', 'BARANGAY','MUNNAME', 'PROV'])
schools_meta_df["SCH_TYPE"] = schools_meta_df["SCH_TYPE"].str.upper()
print("schools_meta_df",schools_meta_df.shape)

population_df['brgy_muni_prov_key']=population_df["BrgyName"].str.replace("Pagatin \(Pagatin I\)","Pagatin I")\
                                                            .str.split(" \(").str[0].str.strip()\
                                    +", "+population_df["MuniCities"].str.split(" \(").str[0].str.strip()\
                                    +", "+population_df["PROV"].str.split(" \(").str[0].str.strip()
population_df['brgy_muni_prov_key']=population_df['brgy_muni_prov_key'].str.lower().str.strip()

schools_meta_df['brgy_muni_prov_key'] = schools_meta_df["BARANGAY"].str.split(" \(").str[0].str.strip()\
                                        +", "+schools_meta_df["MUNNAME"].str.split(" \(").str[0].str.strip()\
                                        +", "+schools_meta_df["PROV"].str.split(" \(").str[0].str.strip()
schools_meta_df['brgy_muni_prov_key'] = schools_meta_df['brgy_muni_prov_key'].str.lower()\
                                        .str.replace("city of marawi","marawi city")\
                                        .str.replace("lamitan city","city of lamitan")
schools_meta_update = pd.merge(schools_meta_df,population_df[["PSGC_BRGY","brgy_muni_prov_key"]],
                               on="brgy_muni_prov_key",how="left")

schools_meta_update.drop(columns="brgy_muni_prov_key",inplace=True)
print("schools_meta_update",schools_meta_update.shape)

manual_clean = {
    133036:'PH150703024',
    133047:'PH150703025',
    133333:'PH153634057',
    134011:'PH153807005',
    216650:'PH153835007',
    408573:'PH153819001',
    133539:'PH153637005',
    133540:'PH153637006',
    304962:'PH153637006',
    133541:'PH153637012',
    133542:'PH153637016',
    133543:'PH153637018',
    133544:'PH153637021',
    133784:'PH153632019',
    134158:'PH153812001',
    216613:'PH153819021',
    133833:'PH153635052',
    318215:'PH153635016',
    324703:'PH153635042',
    324730:'PH153635042',
    304993:'PH153635029'
}

for school_id,psgc_brgy in manual_clean.items():
    cond = schools_meta_update["SCH_ID"]==school_id
    schools_meta_update.loc[cond,"PSGC_BRGY"]=psgc_brgy
    
schools_meta_update = pd.merge(schools_meta_update,population_df[["PSGC_BRGY","PSGC_PROV","PSGC_CITY/MUNI"]],
                               on="PSGC_BRGY",how="left")
print("schools_meta_update",schools_meta_update.shape)

schools_meta_update.to_csv(OUTPUT_PATH+"SchoolsDepEd2017_Clean.csv",index=False)

missing_count = sum(schools_meta_update["PSGC_BRGY"].isna())
print("\nmissing in brgy_muni_prov_key: ",missing_count)

population_df (2482, 288)
schools_meta_df (2711, 9)
schools_meta_update (2711, 10)
schools_meta_update (2711, 12)

missing in brgy_muni_prov_key:  9

In [4]:
schools_clean = pd.read_csv(OUTPUT_PATH+"SchoolsDepEd2017_Clean.csv",usecols=["SCH_ID","SCH_NAME","SCH_TYPE","SCH_CAT","PSGC_BRGY"])
cond = (schools_clean["SCH_TYPE"]=="PUBLIC") & (schools_clean["SCH_CAT"].str.contains("ES|PS"))
school_public_elem = schools_clean[cond].reset_index(drop=True)
school_public_elem = school_public_elem.drop(columns=["SCH_TYPE","SCH_CAT"])
print("school_public_elem",school_public_elem.shape)

schools_elementary_enrollment = pd.read_csv(TABULAR_PATH+"deped_publicelementaryenrollment2015.csv",
                                           encoding='latin',
                                           usecols=["school_id","region","school_name","year_level","gender","enrollment"])
cond = schools_elementary_enrollment["region"]=="ARMM - Autonomous Region in Muslim Mindanao"
schools_elementary_enrollment = schools_elementary_enrollment[cond].reset_index(drop=True)
print("schools_ementary_enrollment",schools_elementary_enrollment.shape,
      "unique schools:", len(schools_elementary_enrollment["school_id"].unique()))

schools_elementary_enrollment = pd.pivot_table(schools_elementary_enrollment,index=["school_id"],
                                              columns=["gender","year_level"],values="enrollment")
schools_elementary_enrollment = schools_elementary_enrollment.reset_index()

new_cols = [gender+'_'+year_level for gender,year_level in schools_elementary_enrollment.columns.to_flat_index()]
schools_elementary_enrollment.columns = ["school_id"]+new_cols[1:]

schools_elementary_enrollment = pd.merge(schools_elementary_enrollment,school_public_elem,left_on="school_id",right_on="SCH_ID",how="left")
schools_elementary_enrollment.drop(columns="SCH_ID",inplace=True)

print("schools_elementary_enrollment",schools_elementary_enrollment.shape)

schools_elementary_enrollment.to_csv(OUTPUT_PATH+"public_elementary_enrollment2015_Clean.csv",index=False)

print("\nmissing school id:",list(schools_elementary_enrollment.loc[schools_elementary_enrollment["SCH_NAME"].isna(),"school_id"].unique()))

school_public_elem (2101, 3)
schools_ementary_enrollment (6036, 6) unique schools: 503
schools_elementary_enrollment (503, 15)

missing school id: [133004]

In [5]:
cond = (schools_clean["SCH_TYPE"]=="PUBLIC") & (schools_clean["SCH_CAT"].str.contains("HS|PS"))
school_public_secondary = schools_clean[cond].reset_index(drop=True)
school_public_secondary = school_public_secondary.drop(columns=["SCH_TYPE","SCH_CAT"])
print("school_public_secondary",school_public_secondary.shape)

schools_secondary_enrollment = pd.read_csv(TABULAR_PATH+"deped_publicsecondaryenrollment2015.csv",
                                           encoding='latin',
                                           usecols=["school_id","region","school_name","year_level","gender","enrollment"])
cond = schools_secondary_enrollment["region"]=="ARMM - Autonomous Region in Muslim Mindanao"
schools_secondary_enrollment = schools_secondary_enrollment[cond].reset_index(drop=True)
print("schools_secondary_enrollment",schools_secondary_enrollment.shape,
      "unique schools:", len(schools_secondary_enrollment["school_id"].unique()))

schools_secondary_enrollment = pd.pivot_table(schools_secondary_enrollment,index=["school_id"],
                                              columns=["gender","year_level"],values="enrollment")
schools_secondary_enrollment = schools_secondary_enrollment.reset_index()

new_cols = [gender+'_'+year_level for gender,year_level in schools_secondary_enrollment.columns.to_flat_index()]
schools_secondary_enrollment.columns = ["school_id"]+new_cols[1:]

schools_secondary_enrollment = pd.merge(schools_secondary_enrollment,school_public_secondary,left_on="school_id",right_on="SCH_ID",how="left")
schools_secondary_enrollment.drop(columns="SCH_ID",inplace=True)

print("schools_secondary_enrollment",schools_secondary_enrollment.shape)

schools_secondary_enrollment.to_csv(OUTPUT_PATH+"public_secondary_enrollment2015_Clean.csv",index=False)

print("\nmissing school id:",list(schools_secondary_enrollment.loc[schools_secondary_enrollment["SCH_NAME"].isna(),"school_id"].unique()))

school_public_secondary (956, 3)
schools_secondary_enrollment (2432, 6) unique schools: 304
schools_secondary_enrollment (304, 11)

missing school id: [326502]

GeoData

In [6]:
brgys_geodata = gpd.read_file(GEODATA_PATH+'AdministrativeBoundariesBARMMBarangays20190206PSA2016/AdministrativeBoundariesBARMMBarangays20190206PSA2016.shp')
cond = brgys_geodata['Reg_Code']=='PH150000000'
brgys_geodata=brgys_geodata[cond].reset_index(drop=True)
brgys_geodata = brgys_geodata.to_crs("EPSG:4326")
print("brgys_geodata",brgys_geodata.shape)

roads_geodata = gpd.read_file(GEODATA_PATH+'InfraRoadsARMMOSM2019/InfraRoadsARMMOSM2019.shp')
roads_geodata = roads_geodata[["osm_id","geometry"]]
print("roads_geodata",roads_geodata.shape)

schools_geodata = gpd.read_file(GEODATA_PATH+'SchoolsARMMDEPED2017/SchoolsARMMDEPED2017.shp')
schools_meta_update = pd.read_csv(OUTPUT_PATH+"SchoolsDepEd2017_Clean.csv")
schools_geodata_update = gpd.GeoDataFrame(schools_meta_update, geometry = schools_geodata["geometry"])
schools_geodata_update.to_file(OUTPUT_PATH+"SchoolsDepEd2017_Geodata_Clean/SchoolsDepEd2017_Geodata_Clean.shp")
print("schools_geodata_update",schools_geodata_update.shape)
schools_geodata = schools_geodata[["SCH_ID","geometry"]]
print("schools_geodata",schools_geodata.shape)

brgys_geodata (2489, 9)
roads_geodata (6573, 2)
schools_geodata_update (2711, 13)
schools_geodata (2711, 2)

In [7]:
roads_geodata = gpd.read_file(GEODATA_PATH+'InfraRoadsARMMOSM2019/InfraRoadsARMMOSM2019.shp')
print("roads_geodata",roads_geodata.shape)

roads_geodata.drop(columns=['ref', 'oneway', 'maxspeed', 'layer', 'bridge', 'tunnel'],inplace=True)
cond = roads_geodata['fclass'].str.contains("trunk|primary|secondary|tertiary")
roads_geodata = roads_geodata[cond].reset_index(drop=True)
print("roads_geodata",roads_geodata.shape)
roads_geodata.to_file(OUTPUT_PATH+"RoadsARMM_OSM2019_Geodata_Clean/RoadsARMM_OSM2019_Geodata_Clean.shp")

road_intersects = pd.DataFrame(roads_geodata["osm_id"].values,columns=["osm_id"])
road_intersects["PSGC_BRGY_LIST"] = roads_geodata["geometry"].apply(get_road_brgy_psgc, brgy_df=brgys_geodata)
road_intersects["PROV_LIST"] = roads_geodata["geometry"].apply(get_road_prov_info, brgy_df=brgys_geodata)
print("road_intersects",road_intersects.shape)
road_intersects.to_csv(OUTPUT_PATH+"RoadsARMM_OSM2019_Intersects_Clean.csv",index=False)

roads_geodata (6573, 11)
roads_geodata (1178, 5)
road_intersects (1178, 3)

Population Data

In [8]:
population_df = pd.read_excel(TABULAR_PATH+'Population 2010, 2015 ARMM,BCT.xlsx')
cond = population_df['PSGC_REGI']=='PH150000000'
population_df=population_df[cond].reset_index(drop=True)
print("population_df",population_df.shape)

population_age_groups_df = population_df[["PSGC_BRGY"]]

custom_age_ranges = [(6,12),(13,16),(17,18),(19,22)]

age_range=5
popn_age_ranges = [(age,age+age_range-1) for age in range(0,81,age_range)] + custom_age_ranges

for min_age,max_age in popn_age_ranges:

    both_age_cols = get_sex_age_cols(population_df,sex="bot",min_age=min_age,max_age=max_age)
    male_age_cols = get_sex_age_cols(population_df,sex="mal",min_age=min_age,max_age=max_age)
    female_age_cols = get_sex_age_cols(population_df,sex="fem",min_age=min_age,max_age=max_age)
    
    both_col = 'both_age_{}_to_{}'.format(min_age,max_age)
    male_col = 'male_age_{}_to_{}'.format(min_age,max_age)
    female_col = 'female_age_{}_to_{}'.format(min_age,max_age)
    
    age_groups = population_df[both_age_cols+male_age_cols+female_age_cols]
    age_groups[both_col] = age_groups.loc[:,both_age_cols].sum(axis=1)
    age_groups[male_col] = age_groups.loc[:,male_age_cols].sum(axis=1)
    age_groups[female_col] = age_groups.loc[:,female_age_cols].sum(axis=1)

    age_groups.drop(columns=both_age_cols+male_age_cols+female_age_cols,inplace=True)
    
    population_age_groups_df = pd.concat([population_age_groups_df,age_groups],axis=1)
    del age_groups

print("population_age_groups_df",population_age_groups_df.shape)

schools_df = pd.read_excel(TABULAR_PATH+'Number of schools per brgy.xlsx',usecols=["PSGC_BRGY","Number of School"])
schools_df.rename(columns={'Number of School':'No_of_Schools'},inplace=True)
print("schools_df",schools_df.shape)

schools_meta_df = pd.read_csv(OUTPUT_PATH+'SchoolsDepEd2017_Clean.csv',usecols=["PSGC_BRGY","SCH_CAT","SCH_TYPE"])
schools_meta_df["SCH_TYPE"] = schools_meta_df["SCH_TYPE"].str.strip().str.upper()
schools_meta_df = pd.get_dummies(schools_meta_df, columns=["SCH_TYPE","SCH_CAT"])
schools_meta_df = schools_meta_df.groupby("PSGC_BRGY",as_index=False).sum()
print('schools_meta_df',schools_meta_df.shape)

education_df = pd.merge(population_age_groups_df,schools_df,on="PSGC_BRGY",how="left")
education_df = pd.merge(education_df,schools_meta_df,on="PSGC_BRGY",how="left")
print("education_df",education_df.shape)

source_light_df = pd.read_excel(TABULAR_PATH+'Number of Households by Kind of Fuel for Lighting (ARMM 2015) Brgy.xlsx')
source_light_df["SDG_Households_Electricity_Light_Pct"] = \
            source_light_df["Electricity"]/source_light_df["Number of HH"]
source_light_df["SDG_Households_Kerosene_Gass_Light_Pct"] = \
            source_light_df["Kerosene (Gaas)"]/source_light_df["Number of HH"]
source_light_df = source_light_df[["PSGC","SDG_Households_Electricity_Light_Pct","SDG_Households_Kerosene_Gass_Light_Pct"]]
print("source_light_df",source_light_df.shape)

source_drinking_water_df = pd.read_excel(TABULAR_PATH+'Main Source of Water Supply for Drinking (ARMM 2015) Brgy.xlsx')
source_drinking_water_df["SDG_Households_Drinking_Owned_Faucet_Pct"] = \
            source_drinking_water_df["Own use faucet community water system"]/source_drinking_water_df["Number of Households"]
source_drinking_water_df["SDG_Households_Drinking_Shared_Faucet_Pct"] = \
            source_drinking_water_df["Shared faucet community water system"]/source_drinking_water_df["Number of Households"]
source_drinking_water_df = source_drinking_water_df[["PSGC","SDG_Households_Drinking_Owned_Faucet_Pct","SDG_Households_Drinking_Shared_Faucet_Pct"]]
print("source_drinking_water_df",source_drinking_water_df.shape)

construction_materials_df = pd.read_excel(TABULAR_PATH+'Construction Materials of the Walls(ARMM 2015)Brgy.xlsx')
construction_materials_df["SGD_Households_Construction_Material_Concrete_Pct"] = \
           construction_materials_df["Concrete/brick/stone"]/construction_materials_df["Total Occupied Housing Units"] 
construction_materials_df = construction_materials_df[["PSGC","SGD_Households_Construction_Material_Concrete_Pct"]]

building_tenure_df = pd.read_excel(TABULAR_PATH+'TypeofBuildingTenureStatusoftheHousingUnitLot(ARMM 2015)Brgy.xlsx')
building_tenure_df["SGD_Building_Tenure_Type_Owned_Pct"] = \
            building_tenure_df["Own or owner like possession of house and lot"]/building_tenure_df["Number of HH"]
building_tenure_df = building_tenure_df[["PSGC", "SGD_Building_Tenure_Type_Owned_Pct"]]

type_bulding_df = pd.read_excel(TABULAR_PATH+'Type of Building (ARMM 2015) Brgy.xlsx')
type_bulding_df["SGD_Type_Building_Single_Pct"] = \
            type_bulding_df["Single house"]/type_bulding_df["Total Occupied Housing Units"]
type_bulding_df = type_bulding_df[["PSGC","SGD_Type_Building_Single_Pct"]]

gainful_workers_df = pd.read_excel(TABULAR_PATH+'Gainful Workers BRGY.xlsx')
gainful_workers_df['SGD_Type_Worker_15_to_24'] = \
            (gainful_workers_df['tot_15 - 19_both_sexes']+gainful_workers_df['tot_20 - 24_both_sexes'])/gainful_workers_df['tot_15_ovr_both_sexes']
gainful_workers_df['SGD_Type_Worker_Man'] = \
            gainful_workers_df['man_15_ovr_both_sexes']/gainful_workers_df['tot_15_ovr_both_sexes']
gainful_workers_df['SGD_Type_Worker_Pro'] = \
            gainful_workers_df['pro_15_ovr_both_sexes']/gainful_workers_df['tot_15_ovr_both_sexes']
gainful_workers_df['SGD_Type_Worker_Tec'] = \
            gainful_workers_df['tec_15_ovr_both_sexes']/gainful_workers_df['tot_15_ovr_both_sexes']
gainful_workers_df['SGD_Type_Worker_Cle'] = \
            gainful_workers_df['cle_15_ovr_both_sexes']/gainful_workers_df['tot_15_ovr_both_sexes']
gainful_workers_df['SGD_Type_Worker_Ser'] = \
            gainful_workers_df['ser_15_ovr_both_sexes']/gainful_workers_df['tot_15_ovr_both_sexes']
gainful_workers_df['SGD_Type_Worker_Ski'] = \
            gainful_workers_df['ski_15_ovr_both_sexes']/gainful_workers_df['tot_15_ovr_both_sexes']
gainful_workers_df['SGD_Type_Worker_Cra'] = \
            gainful_workers_df['cra_15_ovr_both_sexes']/gainful_workers_df['tot_15_ovr_both_sexes']
gainful_workers_df['SGD_Type_Worker_Pla'] = \
            gainful_workers_df['pla_15_ovr_both_sexes']/gainful_workers_df['tot_15_ovr_both_sexes']
gainful_workers_df['SGD_Type_Worker_Ele'] = \
            gainful_workers_df['ele_15_ovr_both_sexes']/gainful_workers_df['tot_15_ovr_both_sexes']
gainful_workers_df['SGD_Type_Worker_Arm'] = \
            gainful_workers_df['arm_15_ovr_both_sexes']/gainful_workers_df['tot_15_ovr_both_sexes']
gainful_workers_df = gainful_workers_df[['PSGC', 'SGD_Type_Worker_Man', 'SGD_Type_Worker_Pro', 'SGD_Type_Worker_Tec', 'SGD_Type_Worker_Cle',
                       'SGD_Type_Worker_Ser', 'SGD_Type_Worker_Ski', 'SGD_Type_Worker_Cra', 'SGD_Type_Worker_Pla',
                       'SGD_Type_Worker_Ele', 'SGD_Type_Worker_Arm']]

floor_area_df = pd.read_excel(TABULAR_PATH+'Floor Area (ARMM, 2010) Brgy.xlsx')
floor_area_df['SGD_less_than_54_sqft'] = \
            floor_area_df['Less than 5 sq.m./less than 54 sq.ft.']/floor_area_df['Total Occupied Housing Units']
floor_area_df = floor_area_df[['PSGC', 'SGD_less_than_54_sqft']]

dataframes = [source_light_df,source_drinking_water_df,construction_materials_df,building_tenure_df,type_bulding_df, 
              gainful_workers_df, floor_area_df]

sdg_df = reduce(lambda  left,right: pd.merge(left,right,on=['PSGC'],how='left'), dataframes)

# sdg_df = pd.merge(source_light_df,source_drinking_water_df,on="PSGC",how="left")
print("sdg_df",sdg_df.shape)

education_sdg_df = pd.merge(education_df,sdg_df,left_on="PSGC_BRGY",right_on="PSGC",how="left")
education_sdg_df.drop(columns="PSGC",inplace=True)
print("education_sdg_df",education_sdg_df.shape)

population_df (2482, 288)
population_age_groups_df (2482, 64)
schools_df (1570, 2)
schools_meta_df (1758, 14)
education_df (2482, 78)
source_light_df (2490, 3)
source_drinking_water_df (2490, 3)
sdg_df (2490, 19)
education_sdg_df (2482, 96)

In [9]:
print("education_sdg_df",education_sdg_df.shape)
education_sdg_df.to_csv('./data/output/Population_Schools_SDGs_Clean.csv')

with pd.option_context("display.max_rows",None):
    display(education_sdg_df.head(6).T)

education_sdg_df (2482, 96)

,0,1,2,3,4,5
PSGC_BRGY,PH150702001,PH150702002,PH150702004,PH150702005,PH150702006,PH150702007
both_age_0_to_4,187.0,459.0,120.0,583.0,727.0,591.0
male_age_0_to_4,117.0,232.0,63.0,332.0,302.0,308.0
female_age_0_to_4,70.0,227.0,57.0,251.0,425.0,283.0
both_age_5_to_9,79.0,161.0,62.0,305.0,354.0,236.0
male_age_5_to_9,35.0,77.0,40.0,159.0,201.0,114.0
female_age_5_to_9,44.0,84.0,22.0,146.0,153.0,122.0
both_age_10_to_14,73.0,133.0,80.0,269.0,398.0,220.0
male_age_10_to_14,42.0,69.0,39.0,155.0,217.0,121.0
female_age_10_to_14,31.0,64.0,41.0,114.0,181.0,99.0
both_age_15_to_19,50.0,139.0,62.0,247.0,319.0,210.0
male_age_15_to_19,28.0,67.0,29.0,113.0,170.0,117.0
female_age_15_to_19,22.0,72.0,33.0,134.0,149.0,93.0
both_age_20_to_24,77.0,124.0,46.0,214.0,281.0,188.0
male_age_20_to_24,41.0,57.0,19.0,110.0,153.0,90.0
female_age_20_to_24,36.0,67.0,27.0,104.0,128.0,98.0
both_age_25_to_29,52.0,92.0,32.0,205.0,248.0,153.0
male_age_25_to_29,29.0,48.0,14.0,93.0,129.0,87.0
female_age_25_to_29,23.0,44.0,18.0,112.0,119.0,66.0
both_age_30_to_34,42.0,79.0,26.0,180.0,224.0,124.0
male_age_30_to_34,20.0,40.0,8.0,93.0,104.0,70.0
female_age_30_to_34,22.0,39.0,18.0,87.0,120.0,54.0
both_age_35_to_39,37.0,68.0,29.0,137.0,142.0,105.0
male_age_35_to_39,19.0,26.0,10.0,74.0,67.0,55.0
female_age_35_to_39,18.0,42.0,19.0,63.0,75.0,50.0
both_age_40_to_44,38.0,67.0,28.0,109.0,145.0,110.0
male_age_40_to_44,22.0,34.0,17.0,44.0,75.0,49.0
female_age_40_to_44,16.0,33.0,11.0,65.0,70.0,61.0
both_age_45_to_49,38.0,41.0,27.0,110.0,122.0,107.0
male_age_45_to_49,19.0,21.0,15.0,50.0,67.0,57.0
female_age_45_to_49,19.0,20.0,12.0,60.0,55.0,50.0
both_age_50_to_54,23.0,36.0,7.0,116.0,103.0,97.0
male_age_50_to_54,12.0,14.0,3.0,57.0,42.0,52.0
female_age_50_to_54,11.0,22.0,4.0,59.0,61.0,45.0
both_age_55_to_59,26.0,24.0,11.0,67.0,66.0,60.0
male_age_55_to_59,16.0,13.0,6.0,30.0,30.0,29.0
female_age_55_to_59,10.0,11.0,5.0,37.0,36.0,31.0
both_age_60_to_64,16.0,32.0,11.0,50.0,68.0,61.0
male_age_60_to_64,9.0,11.0,5.0,36.0,32.0,31.0
female_age_60_to_64,7.0,21.0,6.0,14.0,36.0,30.0
both_age_65_to_69,18.0,17.0,12.0,27.0,57.0,27.0
male_age_65_to_69,6.0,5.0,6.0,12.0,34.0,15.0
female_age_65_to_69,12.0,12.0,6.0,15.0,23.0,12.0
both_age_70_to_74,6.0,15.0,5.0,22.0,21.0,17.0
male_age_70_to_74,3.0,5.0,2.0,9.0,9.0,11.0
female_age_70_to_74,3.0,10.0,3.0,13.0,12.0,6.0
both_age_75_to_79,1.0,11.0,3.0,13.0,9.0,16.0
male_age_75_to_79,1.0,5.0,1.0,3.0,5.0,3.0
female_age_75_to_79,0.0,6.0,2.0,10.0,4.0,13.0
both_age_80_to_84,8.0,6.0,2.0,11.0,9.0,16.0
male_age_80_to_84,4.0,4.0,0.0,6.0,4.0,10.0
female_age_80_to_84,4.0,2.0,2.0,5.0,5.0,6.0
both_age_6_to_12,111.0,209.0,93.0,411.0,527.0,307.0
male_age_6_to_12,54.0,102.0,49.0,226.0,305.0,153.0
female_age_6_to_12,57.0,107.0,44.0,185.0,222.0,154.0
both_age_13_to_16,40.0,109.0,62.0,201.0,287.0,185.0
male_age_13_to_16,23.0,54.0,31.0,97.0,149.0,105.0
female_age_13_to_16,17.0,55.0,31.0,104.0,138.0,80.0
both_age_17_to_18,23.0,50.0,27.0,93.0,129.0,83.0
male_age_17_to_18,15.0,23.0,11.0,47.0,69.0,46.0
female_age_17_to_18,8.0,27.0,16.0,46.0,60.0,37.0
both_age_19_to_22,55.0,113.0,37.0,202.0,230.0,154.0
male_age_19_to_22,29.0,58.0,13.0,98.0,121.0,76.0
female_age_19_to_22,26.0,55.0,24.0,104.0,109.0,78.0
No_of_Schools,1.0,1.0,NaN,1.0,1.0,1.0
SCH_TYPE_PRIVATE,0.0,0.0,NaN,0.0,0.0,0.0
SCH_TYPE_PUBLIC,1.0,1.0,NaN,1.0,1.0,1.0
SCH_TYPE_SUC,0.0,0.0,NaN,0.0,0.0,0.0
SCH_CAT_CES,0.0,0.0,NaN,0.0,0.0,0.0
SCH_CAT_ES,1.0,1.0,NaN,1.0,1.0,1.0
SCH_CAT_JHS,0.0,0.0,NaN,0.0,0.0,0.0
SCH_CAT_MD,0.0,0.0,NaN,0.0,0.0,0.0
SCH_CAT_PES,0.0,0.0,NaN,0.0,0.0,0.0
SCH_CAT_PJHS,0.0,0.0,NaN,0.0,0.0,0.0
SCH_CAT_PS,0.0,0.0,NaN,0.0,0.0,0.0
SCH_CAT_PSHS,0.0,0.0,NaN,0.0,0.0,0.0
SCH_CAT_SHS,0.0,0.0,NaN,0.0,0.0,0.0
SCH_CAT_SUC,0.0,0.0,NaN,0.0,0.0,0.0
SDG_Households_Electricity_Light_Pct,0.65625,0.792208,0.39604,0.870968,0.71978,0.83105
SDG_Households_Kerosene_Gass_Light_Pct,0.34375,0.207792,0.594059,0.126728,0.236264,0.157534
SDG_Households_Drinking_Owned_Faucet_Pct,0.05,0.051948,0.019802,0.099078,0.001832,0.287671
SDG_Households_Drinking_Shared_Faucet_Pct,0.41875,0.008658,0.138614,0.730415,0.012821,0.321918
SGD_Households_Construction_Material_Concrete_Pct,0.076389,0.247826,0.09,0.147541,0.058608,0.11215
SGD_Building_Tenure_Type_Owned_Pct,0.8375,0.74026,0.574257,0.612903,0.119048,0.212329
SGD_Type_Building_Single_Pct,0.986111,0.873913,1.0,0.887588,0.941392,0.995327
SGD_Type_Worker_Man,0.018957,0.074405,0.09396,0.054156,0.076846,0.04386
SGD_Type_Worker_Pro,0.042654,0.047619,0.0,0.051637,0.016966,0.026316
SGD_Type_Worker_Tec,0.014218,0.002976,0.0,0.021411,0.002994,0.011696
SGD_Type_Worker_Cle,0.085308,0.011905,0.006711,0.040302,0.023952,0.023392
SGD_Type_Worker_Ser,0.208531,0.047619,0.0,0.070529,0.106786,0.084795
SGD_Type_Worker_Ski,0.507109,0.529762,0.785235,0.488665,0.525948,0.494152
SGD_Type_Worker_Cra,0.033175,0.053571,0.026846,0.032746,0.01996,0.081871
SGD_Type_Worker_Pla,0.014218,0.119048,0.020134,0.059194,0.048902,0.125731
SGD_Type_Worker_Ele,0.052133,0.113095,0.067114,0.164987,0.171657,0.096491
SGD_Type_Worker_Arm,0.023697,0.0,0.0,0.011335,0.00499,0.010234
SGD_less_than_54_sqft,0.275449,0.287554,0.042553,0.002092,0.061657,0.391509