In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

import geopandas as gpd
from shapely.ops import nearest_points

import warnings
warnings.filterwarnings("ignore")

import os
GEODATA_PATH = 'data/geodata/'
TABULAR_PATH = 'data/tabular/'
OUTPUT_PATH = './data/output/'
data_files = os.listdir(TABULAR_PATH)

In [2]:
def get_sex_age_cols(sex="bot",min_age=7,max_age=25):
    sex_single_age_cols = [col for col in population_df.columns if (col.replace('und_','').replace('and_ove_','').split("_")[-2:][0]==sex)]
    student_age_cols = [col for col in sex_single_age_cols if (int(col.split("_")[-1])>=min_age) \
                        & (int(col.split("_")[-1])<=max_age)]
    return student_age_cols

def get_number_of_roads(PSGC):
    cond = brgys_geodata["Bgy_Code"]==PSGC
    index = brgys_geodata[cond].index[0]
    road_intersects = roads_geodata["geometry"].intersects(brgys_geodata.loc[index,"geometry"])
    return sum(road_intersects)

def get_nearest_school(brgy_code):
    cond = brgys_geodata["Bgy_Code"]==brgy_code
    pt1 = brgys_geodata[cond].geometry.centroid.values[0]
    type(pt1)
    pts = schools_geodata.geometry.unary_union
    nearest = schools_geodata.geometry == nearest_points(pt1, pts)[1]
    return schools_geodata[nearest].SCH_ID.values[0]

def get_nearest_school_distance(brgy_code,school_code):
    cond = brgys_geodata["Bgy_Code"]==brgy_code
    pt1 = brgys_geodata[cond].geometry.centroid.values[0]
    cond = schools_geodata["SCH_ID"]==school_code
    pt2 = schools_geodata.loc[cond,'geometry'].values[0]
    return pt1.distance(pt2)

Updating PSGC code of Schools data

In [3]:
population_df = pd.read_excel(TABULAR_PATH+'Population 2010, 2015 ARMM,BCT.xlsx')
cond = population_df['PSGC_REGI']=='PH150000000'
population_df=population_df[cond].reset_index(drop=True)
print("population_df",population_df.shape)

schools_meta_df = pd.read_excel(TABULAR_PATH+'SchoolsDepEd2017.xlsx',
                                usecols=['SCH_ID', 'SCH_NAME', 'SCH_CAT', 'SCH_TYPE', 
                                         'LAT', 'LONG', 'BARANGAY','MUNNAME', 'PROV'])
print("schools_meta_df",schools_meta_df.shape)

population_df (2482, 288)
schools_meta_df (2711, 9)

In [4]:
population_df['brgy_muni_key']=population_df["BrgyName"].str.split(" \(").str[0]+", "+population_df["MuniCities"].str.split(" \(").str[0]
population_df['brgy_muni_key']=population_df['brgy_muni_key'].str.lower().str.strip()

schools_meta_df['brgy_muni_key'] = schools_meta_df["BARANGAY"].str.split(" \(").str[0]+", "+schools_meta_df["MUNNAME"].str.split(" \(").str[0]
schools_meta_df['brgy_muni_key'] = schools_meta_df['brgy_muni_key'].str.lower()\
                                        .str.strip()\
                                        .str.replace("city of marawi","marawi city")\
                                        .str.replace("lamitan city","city of lamitan")
missing_count = len(set(schools_meta_df['brgy_muni_key'])-set(population_df['brgy_muni_key']))
print("missing in brgy_muni_key: ",missing_count)

missing in brgy_muni_key:  27

In [5]:
schools_meta_update = pd.merge(schools_meta_df,population_df[["PSGC_PROV","PSGC_CITY/MUNI","PSGC_BRGY","brgy_muni_key"]],
                               on="brgy_muni_key",how="left")
schools_meta_update.drop(columns="brgy_muni_key",inplace=True)
schools_meta_update.to_csv(OUTPUT_PATH+"SchoolsDepEd2017_clean.csv",index=False)
del population_df, schools_meta_df, schools_meta_update

In [6]:
population_df = pd.read_excel(TABULAR_PATH+'Population 2010, 2015 ARMM,BCT.xlsx')
cond = population_df['PSGC_REGI']=='PH150000000'
population_df=population_df[cond].reset_index(drop=True)
print("population_df",population_df.shape)

population_age_groups_df = population_df[["PSGC_BRGY"]]

custom_age_ranges = [(7,12),(13,16),(17,18),(19,22)]

age_range=5
popn_age_ranges = [(age,age+age_range-1) for age in range(0,81,age_range)] + custom_age_ranges

for min_age,max_age in popn_age_ranges:

    both_age_cols = get_sex_age_cols(sex="bot",min_age=min_age,max_age=max_age)
    male_age_cols = get_sex_age_cols(sex="mal",min_age=min_age,max_age=max_age)
    female_age_cols = get_sex_age_cols(sex="fem",min_age=min_age,max_age=max_age)
    
    both_col = 'both_age_{}_to_{}'.format(min_age,max_age)
    male_col = 'male_age_{}_to_{}'.format(min_age,max_age)
    female_col = 'female_age_{}_to_{}'.format(min_age,max_age)
    
    age_groups = population_df[both_age_cols+male_age_cols+female_age_cols]
    age_groups[both_col] = age_groups.loc[:,both_age_cols].sum(axis=1)
    age_groups[male_col] = age_groups.loc[:,male_age_cols].sum(axis=1)
    age_groups[female_col] = age_groups.loc[:,female_age_cols].sum(axis=1)

    age_groups.drop(columns=both_age_cols+male_age_cols+female_age_cols,inplace=True)
    
    population_age_groups_df = pd.concat([population_age_groups_df,age_groups],axis=1)
    del age_groups

print("population_age_groups_df",population_age_groups_df.shape)

schools_df = pd.read_excel(TABULAR_PATH+'Number of schools per brgy.xlsx',usecols=["PSGC_BRGY","Number of School"])
schools_df.rename(columns={'Number of School':'No_of_Schools'},inplace=True)
print("schools_df",schools_df.shape)

schools_meta_df = pd.read_csv(OUTPUT_PATH+'SchoolsDepEd2017_clean.csv',usecols=["PSGC_BRGY","SCH_CAT","SCH_TYPE"])
schools_meta_df["SCH_TYPE"] = schools_meta_df["SCH_TYPE"].str.strip().str.upper()
schools_meta_df = pd.get_dummies(schools_meta_df, columns=["SCH_TYPE","SCH_CAT"])
schools_meta_df = schools_meta_df.groupby("PSGC_BRGY",as_index=False).sum()
print('schools_meta_df',schools_meta_df.shape)

education_df = pd.merge(population_age_groups_df,schools_df,on="PSGC_BRGY",how="left")
education_df = pd.merge(education_df,schools_meta_df,on="PSGC_BRGY",how="left")
print("education_df",education_df.shape)

source_light_df = pd.read_excel(TABULAR_PATH+'Number of Households by Kind of Fuel for Lighting (ARMM 2015) Brgy.xlsx')
source_light_df["SDG_Households_Electricity_Light_Pct"] = \
            source_light_df["Electricity"]/source_light_df["Number of HH"]
source_light_df["SDG_Households_Kerosene_Gass_Light_Pct"] = \
            source_light_df["Kerosene (Gaas)"]/source_light_df["Number of HH"]
source_light_df = source_light_df[["PSGC","SDG_Households_Electricity_Light_Pct","SDG_Households_Kerosene_Gass_Light_Pct"]]
print("source_light_df",source_light_df.shape)

source_drinking_water_df = pd.read_excel(TABULAR_PATH+'Main Source of Water Supply for Drinking (ARMM 2015) Brgy.xlsx')
source_drinking_water_df["SDG_Households_Drinking_Owned_Faucet_Pct"] = \
            source_drinking_water_df["Own use faucet community water system"]/source_drinking_water_df["Number of Households"]
source_drinking_water_df["SDG_Households_Drinking_Shared_Faucet_Pct"] = \
            source_drinking_water_df["Shared faucet community water system"]/source_drinking_water_df["Number of Households"]
source_drinking_water_df = source_drinking_water_df[["PSGC","SDG_Households_Drinking_Owned_Faucet_Pct","SDG_Households_Drinking_Shared_Faucet_Pct"]]
print("source_drinking_water_df",source_drinking_water_df.shape)

sdg_df = pd.merge(source_light_df,source_drinking_water_df,on="PSGC",how="left")
print("sdg_df",sdg_df.shape)

education_sdg_df = pd.merge(education_df,sdg_df,left_on="PSGC_BRGY",right_on="PSGC",how="left")
education_sdg_df.drop(columns="PSGC",inplace=True)
print("education_sdg_df",education_sdg_df.shape)

population_df (2482, 288)
population_age_groups_df (2482, 64)
schools_df (1570, 2)
schools_meta_df (1747, 14)
education_df (2482, 78)
source_light_df (2490, 3)
source_drinking_water_df (2490, 3)
sdg_df (2490, 5)
education_sdg_df (2482, 82)

In [7]:
brgys_geodata = gpd.read_file(GEODATA_PATH+'AdministrativeBoundariesBARMMBarangays20190206PSA2016/AdministrativeBoundariesBARMMBarangays20190206PSA2016.shp')
cond = brgys_geodata['Reg_Code']=='PH150000000'
brgys_geodata=brgys_geodata[cond].reset_index(drop=True)
brgys_geodata = brgys_geodata.to_crs("EPSG:4326")
brgys_geodata = brgys_geodata[["Bgy_Code","geometry"]]
print("brgys_geodata",brgys_geodata.shape)

roads_geodata = gpd.read_file(GEODATA_PATH+'InfraRoadsARMMOSM2019/InfraRoadsARMMOSM2019.shp')
roads_geodata = roads_geodata[["osm_id","geometry"]]
print("roads_geodata",roads_geodata.shape)

schools_geodata = gpd.read_file(GEODATA_PATH+'SchoolsARMMDEPED2017/SchoolsARMMDEPED2017.shp')
schools_geodata = schools_geodata[["SCH_ID","geometry"]]
print("schools_geodata",schools_geodata.shape)

education_sdg_df["number_of_roads"] = education_sdg_df["PSGC_BRGY"].apply(get_number_of_roads)

print("education_sdg_df + geoinfo",education_sdg_df.shape)

brgys_geodata (2489, 2)
roads_geodata (6573, 2)
schools_geodata (2711, 2)
education_sdg_df + geoinfo (2482, 83)

In [8]:
education_sdg_df.to_csv('./data/output/Population_Schools_SDGs_Clean.csv')
with pd.option_context("display.max_rows",None):
    display(education_sdg_df.head(6).T)

,0,1,2,3,4,5
PSGC_BRGY,PH150702001,PH150702002,PH150702004,PH150702005,PH150702006,PH150702007
both_age_0_to_4,88,210,57,277,352,270
male_age_0_to_4,54,100,27,152,146,140
female_age_0_to_4,34,110,30,125,206,130
both_age_5_to_9,79,161,62,305,354,236
male_age_5_to_9,35,77,40,159,201,114
female_age_5_to_9,44,84,22,146,153,122
both_age_10_to_14,73,133,80,269,398,220
male_age_10_to_14,42,69,39,155,217,121
female_age_10_to_14,31,64,41,114,181,99
both_age_15_to_19,50,139,62,247,319,210
male_age_15_to_19,28,67,29,113,170,117
female_age_15_to_19,22,72,33,134,149,93
both_age_20_to_24,77,124,46,214,281,188
male_age_20_to_24,41,57,19,110,153,90
female_age_20_to_24,36,67,27,104,128,98
both_age_25_to_29,52,92,32,205,248,153
male_age_25_to_29,29,48,14,93,129,87
female_age_25_to_29,23,44,18,112,119,66
both_age_30_to_34,42,79,26,180,224,124
male_age_30_to_34,20,40,8,93,104,70
female_age_30_to_34,22,39,18,87,120,54
both_age_35_to_39,37,68,29,137,142,105
male_age_35_to_39,19,26,10,74,67,55
female_age_35_to_39,18,42,19,63,75,50
both_age_40_to_44,38,67,28,109,145,110
male_age_40_to_44,22,34,17,44,75,49
female_age_40_to_44,16,33,11,65,70,61
both_age_45_to_49,38,41,27,110,122,107
male_age_45_to_49,19,21,15,50,67,57
female_age_45_to_49,19,20,12,60,55,50
both_age_50_to_54,23,36,7,116,103,97
male_age_50_to_54,12,14,3,57,42,52
female_age_50_to_54,11,22,4,59,61,45
both_age_55_to_59,26,24,11,67,66,60
male_age_55_to_59,16,13,6,30,30,29
female_age_55_to_59,10,11,5,37,36,31
both_age_60_to_64,16,32,11,50,68,61
male_age_60_to_64,9,11,5,36,32,31
female_age_60_to_64,7,21,6,14,36,30
both_age_65_to_69,18,17,12,27,57,27
male_age_65_to_69,6,5,6,12,34,15
female_age_65_to_69,12,12,6,15,23,12
both_age_70_to_74,6,15,5,22,21,17
male_age_70_to_74,3,5,2,9,9,11
female_age_70_to_74,3,10,3,13,12,6
both_age_75_to_79,1,11,3,13,9,16
male_age_75_to_79,1,5,1,3,5,3
female_age_75_to_79,0,6,2,10,4,13
both_age_80_to_84,0,0,0,0,0,0
male_age_80_to_84,0,0,0,0,0,0
female_age_80_to_84,0,0,0,0,0,0
both_age_7_to_12,90,175,84,351,467,261
male_age_7_to_12,43,85,45,189,272,133
female_age_7_to_12,47,90,39,162,195,128
both_age_13_to_16,40,109,62,201,287,185
male_age_13_to_16,23,54,31,97,149,105
female_age_13_to_16,17,55,31,104,138,80
both_age_17_to_18,23,50,27,93,129,83
male_age_17_to_18,15,23,11,47,69,46
female_age_17_to_18,8,27,16,46,60,37
both_age_19_to_22,55,113,37,202,230,154
male_age_19_to_22,29,58,13,98,121,76
female_age_19_to_22,26,55,24,104,109,78
No_of_Schools,1,1,NaN,1,1,1
SCH_TYPE_PRIVATE,0,0,NaN,0,0,0
SCH_TYPE_PUBLIC,1,1,NaN,1,1,1
SCH_TYPE_SUC,0,0,NaN,0,0,0
SCH_CAT_CES,0,0,NaN,0,0,0
SCH_CAT_ES,1,1,NaN,1,1,1
SCH_CAT_JHS,0,0,NaN,0,0,0
SCH_CAT_MD,0,0,NaN,0,0,0
SCH_CAT_PES,0,0,NaN,0,0,0
SCH_CAT_PJHS,0,0,NaN,0,0,0
SCH_CAT_PS,0,0,NaN,0,0,0
SCH_CAT_PSHS,0,0,NaN,0,0,0
SCH_CAT_SHS,0,0,NaN,0,0,0
SCH_CAT_SUC,0,0,NaN,0,0,0
SDG_Households_Electricity_Light_Pct,0.65625,0.792208,0.39604,0.870968,0.71978,0.83105
SDG_Households_Kerosene_Gass_Light_Pct,0.34375,0.207792,0.594059,0.126728,0.236264,0.157534
SDG_Households_Drinking_Owned_Faucet_Pct,0.05,0.0519481,0.019802,0.0990783,0.0018315,0.287671
SDG_Households_Drinking_Shared_Faucet_Pct,0.41875,0.00865801,0.138614,0.730415,0.0128205,0.321918
number_of_roads,0,1,3,5,4,14