In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from functools import reduce

import geopandas as gpd
from shapely.ops import nearest_points

import warnings
warnings.filterwarnings("ignore")

import os
GEODATA_PATH = 'data/geodata/'
TABULAR_PATH = 'data/tabular/'
OUTPUT_PATH = 'data/output/'
data_files = os.listdir(TABULAR_PATH)

Helper Functions

In [2]:
def get_sex_age_cols(pop_df,sex="bot",min_age=7,max_age=25):
    clean_cols = [col.replace('und_','').replace('_and_ove','') for col in pop_df.columns]
    pop_df.columns = clean_cols
    sex_single_age_cols = [col for col in clean_cols if col.split("_")[-2:][0]==sex]
    age_groups = [col for col in sex_single_age_cols if (int(col.split("_")[-1])>=min_age)\
                        & (int(col.split("_")[-1])<=max_age)]
    return age_groups

def get_road_brgy_psgc(road_geom,brgy_df):
    brgy_intersects  = brgy_df['geometry'].intersects(road_geom)
    brgy_codes = set(brgy_df.loc[brgy_intersects,"Bgy_Code"].values.tolist())

    return brgy_codes

def get_road_prov_info(road_geom,brgy_df):
    brgy_intersects  = brgy_df['geometry'].intersects(road_geom)
    prov_names = set(brgy_df.loc[brgy_intersects,"Pro_Name"].values)

    return prov_names

Schools data

In [3]:
population_df = pd.read_excel(TABULAR_PATH+'Population 2010, 2015 ARMM,BCT.xlsx')
cond = population_df['PSGC_REGI']=='PH150000000'
population_df=population_df[cond].reset_index(drop=True)
print("population_df",population_df.shape)

schools_meta_df = pd.read_excel(TABULAR_PATH+'SchoolsDepEd2017.xlsx',
                                usecols=['SCH_ID', 'SCH_NAME', 'SCH_CAT', 'SCH_TYPE', 
                                         'LAT', 'LONG', 'BARANGAY','MUNNAME', 'PROV'])
schools_meta_df["SCH_TYPE"] = schools_meta_df["SCH_TYPE"].str.upper()
print("schools_meta_df",schools_meta_df.shape)

population_df['brgy_muni_prov_key']=population_df["BrgyName"].str.replace("Pagatin \(Pagatin I\)","Pagatin I")\
                                                            .str.split(" \(").str[0].str.strip()\
                                    +", "+population_df["MuniCities"].str.split(" \(").str[0].str.strip()\
                                    +", "+population_df["PROV"].str.split(" \(").str[0].str.strip()
population_df['brgy_muni_prov_key']=population_df['brgy_muni_prov_key'].str.lower().str.strip()

schools_meta_df['brgy_muni_prov_key'] = schools_meta_df["BARANGAY"].str.split(" \(").str[0].str.strip()\
                                        +", "+schools_meta_df["MUNNAME"].str.split(" \(").str[0].str.strip()\
                                        +", "+schools_meta_df["PROV"].str.split(" \(").str[0].str.strip()
schools_meta_df['brgy_muni_prov_key'] = schools_meta_df['brgy_muni_prov_key'].str.lower()\
                                        .str.replace("city of marawi","marawi city")\
                                        .str.replace("lamitan city","city of lamitan")
schools_meta_update = pd.merge(schools_meta_df,population_df[["PSGC_BRGY","brgy_muni_prov_key"]],
                               on="brgy_muni_prov_key",how="left")

schools_meta_update.drop(columns="brgy_muni_prov_key",inplace=True)
print("schools_meta_update",schools_meta_update.shape)

manual_clean = {
    133036:'PH150703024',
    133047:'PH150703025',
    133333:'PH153634057',
    134011:'PH153807005',
    216650:'PH153835007',
    408573:'PH153819001',
    133539:'PH153637005',
    133540:'PH153637006',
    304962:'PH153637006',
    133541:'PH153637012',
    133542:'PH153637016',
    133543:'PH153637018',
    133544:'PH153637021',
    133784:'PH153632019',
    134158:'PH153812001',
    216613:'PH153819021',
    133833:'PH153635052',
    318215:'PH153635016',
    324703:'PH153635042',
    324730:'PH153635042',
    304993:'PH153635029'
}

for school_id,psgc_brgy in manual_clean.items():
    cond = schools_meta_update["SCH_ID"]==school_id
    schools_meta_update.loc[cond,"PSGC_BRGY"]=psgc_brgy
    
schools_meta_update = pd.merge(schools_meta_update,population_df[["PSGC_BRGY","PSGC_PROV","PSGC_CITY/MUNI"]],
                               on="PSGC_BRGY",how="left")
print("schools_meta_update",schools_meta_update.shape)

schools_meta_update.to_csv(OUTPUT_PATH+"SchoolsDepEd2017_Clean.csv",index=False)

missing_count = sum(schools_meta_update["PSGC_BRGY"].isna())
print("\nmissing in brgy_muni_prov_key: ",missing_count)

population_df (2482, 288)
schools_meta_df (2711, 9)
schools_meta_update (2711, 10)
schools_meta_update (2711, 12)

missing in brgy_muni_prov_key:  9

In [4]:
schools_clean = pd.read_csv(OUTPUT_PATH+"SchoolsDepEd2017_Clean.csv",usecols=["SCH_ID","SCH_NAME","SCH_TYPE","SCH_CAT","PSGC_BRGY"])
cond = (schools_clean["SCH_TYPE"]=="PUBLIC") & (schools_clean["SCH_CAT"].str.contains("ES|PS"))
school_public_elem = schools_clean[cond].reset_index(drop=True)
school_public_elem = school_public_elem.drop(columns=["SCH_TYPE","SCH_CAT"])
print("school_public_elem",school_public_elem.shape)

schools_elementary_enrollment = pd.read_csv(TABULAR_PATH+"deped_publicelementaryenrollment2015.csv",
                                           encoding='latin',
                                           usecols=["school_id","region","school_name","year_level","gender","enrollment"])
cond = schools_elementary_enrollment["region"]=="ARMM - Autonomous Region in Muslim Mindanao"
schools_elementary_enrollment = schools_elementary_enrollment[cond].reset_index(drop=True)
print("schools_ementary_enrollment",schools_elementary_enrollment.shape,
      "unique schools:", len(schools_elementary_enrollment["school_id"].unique()))

schools_elementary_enrollment = pd.pivot_table(schools_elementary_enrollment,index=["school_id"],
                                              columns=["gender","year_level"],values="enrollment")
schools_elementary_enrollment = schools_elementary_enrollment.reset_index()

new_cols = [gender+'_'+year_level for gender,year_level in schools_elementary_enrollment.columns.to_flat_index()]
schools_elementary_enrollment.columns = ["school_id"]+new_cols[1:]

schools_elementary_enrollment = pd.merge(schools_elementary_enrollment,school_public_elem,left_on="school_id",right_on="SCH_ID",how="left")
schools_elementary_enrollment.drop(columns="SCH_ID",inplace=True)

print("schools_elementary_enrollment",schools_elementary_enrollment.shape)

schools_elementary_enrollment.to_csv(OUTPUT_PATH+"public_elementary_enrollment2015_Clean.csv",index=False)

print("\nmissing school id:",list(schools_elementary_enrollment.loc[schools_elementary_enrollment["SCH_NAME"].isna(),"school_id"].unique()))

school_public_elem (2101, 3)
schools_ementary_enrollment (6036, 6) unique schools: 503
schools_elementary_enrollment (503, 15)

missing school id: [133004]

In [5]:
cond = (schools_clean["SCH_TYPE"]=="PUBLIC") & (schools_clean["SCH_CAT"].str.contains("HS|PS"))
school_public_secondary = schools_clean[cond].reset_index(drop=True)
school_public_secondary = school_public_secondary.drop(columns=["SCH_TYPE","SCH_CAT"])
print("school_public_secondary",school_public_secondary.shape)

schools_secondary_enrollment = pd.read_csv(TABULAR_PATH+"deped_publicsecondaryenrollment2015.csv",
                                           encoding='latin',
                                           usecols=["school_id","region","school_name","year_level","gender","enrollment"])
cond = schools_secondary_enrollment["region"]=="ARMM - Autonomous Region in Muslim Mindanao"
schools_secondary_enrollment = schools_secondary_enrollment[cond].reset_index(drop=True)
print("schools_secondary_enrollment",schools_secondary_enrollment.shape,
      "unique schools:", len(schools_secondary_enrollment["school_id"].unique()))

schools_secondary_enrollment = pd.pivot_table(schools_secondary_enrollment,index=["school_id"],
                                              columns=["gender","year_level"],values="enrollment")
schools_secondary_enrollment = schools_secondary_enrollment.reset_index()

new_cols = [gender+'_'+year_level for gender,year_level in schools_secondary_enrollment.columns.to_flat_index()]
schools_secondary_enrollment.columns = ["school_id"]+new_cols[1:]

schools_secondary_enrollment = pd.merge(schools_secondary_enrollment,school_public_secondary,left_on="school_id",right_on="SCH_ID",how="left")
schools_secondary_enrollment.drop(columns="SCH_ID",inplace=True)

print("schools_secondary_enrollment",schools_secondary_enrollment.shape)

schools_secondary_enrollment.to_csv(OUTPUT_PATH+"public_secondary_enrollment2015_Clean.csv",index=False)

print("\nmissing school id:",list(schools_secondary_enrollment.loc[schools_secondary_enrollment["SCH_NAME"].isna(),"school_id"].unique()))

school_public_secondary (956, 3)
schools_secondary_enrollment (2432, 6) unique schools: 304
schools_secondary_enrollment (304, 11)

missing school id: [326502]

GeoData

In [6]:
brgys_geodata = gpd.read_file(GEODATA_PATH+'AdministrativeBoundariesBARMMBarangays20190206PSA2016/AdministrativeBoundariesBARMMBarangays20190206PSA2016.shp')
cond = brgys_geodata['Reg_Code']=='PH150000000'
brgys_geodata=brgys_geodata[cond].reset_index(drop=True)
brgys_geodata = brgys_geodata.to_crs("EPSG:4326")
print("brgys_geodata",brgys_geodata.shape)

schools_geodata = gpd.read_file(GEODATA_PATH+'SchoolsARMMDEPED2017/SchoolsARMMDEPED2017.shp')
schools_meta_update = pd.read_csv(OUTPUT_PATH+"SchoolsDepEd2017_Clean.csv")
schools_geodata_update = gpd.GeoDataFrame(schools_meta_update, geometry = schools_geodata["geometry"])
schools_geodata_update.to_file(OUTPUT_PATH+"SchoolsDepEd2017_Geodata_Clean/SchoolsDepEd2017_Geodata_Clean.shp")
print("schools_geodata_update",schools_geodata_update.shape)
schools_geodata = schools_geodata[["SCH_ID","geometry"]]
print("schools_geodata",schools_geodata.shape)

brgys_geodata (2489, 9)
schools_geodata_update (2711, 13)
schools_geodata (2711, 2)

Population Data

In [7]:
population_df = pd.read_excel(TABULAR_PATH+'Population 2010, 2015 ARMM,BCT.xlsx')
cond = population_df['PSGC_REGI']=='PH150000000'
population_df=population_df[cond].reset_index(drop=True)
print("population_df",population_df.shape)

population_age_groups_df = population_df[["PSGC_BRGY"]]

custom_age_ranges = [(6,12),(13,16),(17,18),(19,22),(6,16),(0,84)]

age_range=5
popn_age_ranges = [(age,age+age_range-1) for age in range(0,81,age_range)] + custom_age_ranges

for min_age,max_age in popn_age_ranges:

    both_age_cols = get_sex_age_cols(population_df,sex="bot",min_age=min_age,max_age=max_age)
    male_age_cols = get_sex_age_cols(population_df,sex="mal",min_age=min_age,max_age=max_age)
    female_age_cols = get_sex_age_cols(population_df,sex="fem",min_age=min_age,max_age=max_age)
    
    both_col = 'both_age_{}_to_{}'.format(min_age,max_age)
    male_col = 'male_age_{}_to_{}'.format(min_age,max_age)
    female_col = 'female_age_{}_to_{}'.format(min_age,max_age)
    
    age_groups = population_df[both_age_cols+male_age_cols+female_age_cols]
    age_groups[both_col] = age_groups.loc[:,both_age_cols].sum(axis=1)
    age_groups[male_col] = age_groups.loc[:,male_age_cols].sum(axis=1)
    age_groups[female_col] = age_groups.loc[:,female_age_cols].sum(axis=1)

    age_groups.drop(columns=both_age_cols+male_age_cols+female_age_cols,inplace=True)
    
    population_age_groups_df = pd.concat([population_age_groups_df,age_groups],axis=1)
    del age_groups

total_popn_cols = {
    "both_age_0_to_84":"total_popn",
    "male_age_0_to_84":"total_male_popn",
    "female_age_0_to_84":"total_female_popn"
}
population_age_groups_df.rename(columns=total_popn_cols,inplace=True)    
print("population_age_groups_df",population_age_groups_df.shape)

population_df (2482, 288)
population_age_groups_df (2482, 70)

Schools

In [8]:
schools_df = pd.read_excel(TABULAR_PATH+'Number of schools per brgy.xlsx',usecols=["PSGC_BRGY","Number of School"])
schools_df.rename(columns={'Number of School':'No_of_Schools'},inplace=True)
print("schools_df",schools_df.shape)

schools_meta_df = pd.read_csv(OUTPUT_PATH+'SchoolsDepEd2017_Clean.csv',usecols=["PSGC_BRGY","SCH_CAT","SCH_TYPE"])
schools_meta_df["SCH_TYPE"] = schools_meta_df["SCH_TYPE"].str.strip().str.upper()
schools_meta_df = pd.get_dummies(schools_meta_df, columns=["SCH_TYPE","SCH_CAT"])
schools_meta_df = schools_meta_df.groupby("PSGC_BRGY",as_index=False).sum()
print('schools_meta_df',schools_meta_df.shape)

education_df = pd.merge(population_age_groups_df,schools_df,on="PSGC_BRGY",how="left")
education_df = pd.merge(education_df,schools_meta_df,on="PSGC_BRGY",how="left")
print("education_df",education_df.shape)

schools_df (1570, 2)
schools_meta_df (1758, 14)
education_df (2482, 84)

SDG-related

In [9]:
source_light_df = pd.read_excel(TABULAR_PATH+'Number of Households by Kind of Fuel for Lighting (ARMM 2015) Brgy.xlsx')
source_light_df["SDG_Households_Electricity_Light_Pct"] = \
            source_light_df["Electricity"]/source_light_df["Number of HH"]
source_light_df["SDG_Households_Kerosene_Gass_Light_Pct"] = \
            source_light_df["Kerosene (Gaas)"]/source_light_df["Number of HH"]
source_light_df = source_light_df[["PSGC","SDG_Households_Electricity_Light_Pct","SDG_Households_Kerosene_Gass_Light_Pct"]]
print("source_light_df",source_light_df.shape)

source_drinking_water_df = pd.read_excel(TABULAR_PATH+'Main Source of Water Supply for Drinking (ARMM 2015) Brgy.xlsx')
source_drinking_water_df["SDG_Households_Drinking_Owned_Faucet_Pct"] = \
            source_drinking_water_df["Own use faucet community water system"]/source_drinking_water_df["Number of Households"]
source_drinking_water_df["SDG_Households_Drinking_Shared_Faucet_Pct"] = \
            source_drinking_water_df["Shared faucet community water system"]/source_drinking_water_df["Number of Households"]
source_drinking_water_df = source_drinking_water_df[["PSGC","SDG_Households_Drinking_Owned_Faucet_Pct","SDG_Households_Drinking_Shared_Faucet_Pct"]]
print("source_drinking_water_df",source_drinking_water_df.shape)

construction_materials_df = pd.read_excel(TABULAR_PATH+'Construction Materials of the Walls(ARMM 2015)Brgy.xlsx')
construction_materials_df["SDG_Households_Construction_Material_Concrete_Pct"] = \
           construction_materials_df["Concrete/brick/stone"]/construction_materials_df["Total Occupied Housing Units"] 
construction_materials_df = construction_materials_df[["PSGC","SDG_Households_Construction_Material_Concrete_Pct"]]
print("construction_materials_df",construction_materials_df.shape)

building_tenure_df = pd.read_excel(TABULAR_PATH+'TypeofBuildingTenureStatusoftheHousingUnitLot(ARMM 2015)Brgy.xlsx')
building_tenure_df["SDG_Building_Tenure_Type_Owned_Pct"] = \
            building_tenure_df["Own or owner like possession of house and lot"]/building_tenure_df["Number of HH"]
building_tenure_df = building_tenure_df[["PSGC", "SDG_Building_Tenure_Type_Owned_Pct"]]
print("building_tenure_df",building_tenure_df.shape)

type_bulding_df = pd.read_excel(TABULAR_PATH+'Type of Building (ARMM 2015) Brgy.xlsx')
type_bulding_df["SDG_Type_Building_Single_Pct"] = \
            type_bulding_df["Single house"]/type_bulding_df["Total Occupied Housing Units"]
type_bulding_df = type_bulding_df[["PSGC","SDG_Type_Building_Single_Pct"]]
print("type_bulding_df",type_bulding_df.shape)

gainful_workers_df = pd.read_excel(TABULAR_PATH+'Gainful Workers BRGY.xlsx')
gainful_workers_df['SDG_Type_Worker_15_to_24'] = \
            (gainful_workers_df['tot_15 - 19_both_sexes']+gainful_workers_df['tot_20 - 24_both_sexes'])/gainful_workers_df['tot_15_ovr_both_sexes']
gainful_workers_df['SDG_Type_Worker_Man'] = \
            gainful_workers_df['man_15_ovr_both_sexes']/gainful_workers_df['tot_15_ovr_both_sexes']
gainful_workers_df['SDG_Type_Worker_Pro'] = \
            gainful_workers_df['pro_15_ovr_both_sexes']/gainful_workers_df['tot_15_ovr_both_sexes']
gainful_workers_df['SDG_Type_Worker_Tec'] = \
            gainful_workers_df['tec_15_ovr_both_sexes']/gainful_workers_df['tot_15_ovr_both_sexes']
gainful_workers_df['SDG_Type_Worker_Cle'] = \
            gainful_workers_df['cle_15_ovr_both_sexes']/gainful_workers_df['tot_15_ovr_both_sexes']
gainful_workers_df['SDG_Type_Worker_Ser'] = \
            gainful_workers_df['ser_15_ovr_both_sexes']/gainful_workers_df['tot_15_ovr_both_sexes']
gainful_workers_df['SDG_Type_Worker_Ski'] = \
            gainful_workers_df['ski_15_ovr_both_sexes']/gainful_workers_df['tot_15_ovr_both_sexes']
gainful_workers_df['SDG_Type_Worker_Cra'] = \
            gainful_workers_df['cra_15_ovr_both_sexes']/gainful_workers_df['tot_15_ovr_both_sexes']
gainful_workers_df['SDG_Type_Worker_Pla'] = \
            gainful_workers_df['pla_15_ovr_both_sexes']/gainful_workers_df['tot_15_ovr_both_sexes']
gainful_workers_df['SDG_Type_Worker_Ele'] = \
            gainful_workers_df['ele_15_ovr_both_sexes']/gainful_workers_df['tot_15_ovr_both_sexes']
gainful_workers_df['SDG_Type_Worker_Arm'] = \
            gainful_workers_df['arm_15_ovr_both_sexes']/gainful_workers_df['tot_15_ovr_both_sexes']
gainful_workers_df = gainful_workers_df[['PSGC', 'SDG_Type_Worker_Man', 'SDG_Type_Worker_Pro', 'SDG_Type_Worker_Tec', 'SDG_Type_Worker_Cle',
                       'SDG_Type_Worker_Ser', 'SDG_Type_Worker_Ski', 'SDG_Type_Worker_Cra', 'SDG_Type_Worker_Pla',
                       'SDG_Type_Worker_Ele', 'SDG_Type_Worker_Arm']]
print("gainful_workers_df",gainful_workers_df.shape)

floor_area_df = pd.read_excel(TABULAR_PATH+'Floor Area (ARMM, 2010) Brgy.xlsx')
floor_area_df['SDG_less_than_54_sqft'] = \
            floor_area_df['Less than 5 sq.m./less than 54 sq.ft.']/floor_area_df['Total Occupied Housing Units']
floor_area_df = floor_area_df[['PSGC', 'SDG_less_than_54_sqft']]
print("floor_area_df",floor_area_df.shape)

dataframes = [source_light_df,source_drinking_water_df,construction_materials_df,building_tenure_df,type_bulding_df, 
              gainful_workers_df, floor_area_df]

sdg_df = reduce(lambda  left,right: pd.merge(left,right,on=['PSGC'],how='left'), dataframes)
print("sdg_df",sdg_df.shape)

education_sdg_df = pd.merge(education_df,sdg_df,left_on="PSGC_BRGY",right_on="PSGC",how="left")
education_sdg_df.drop(columns="PSGC",inplace=True)
print("education_sdg_df",education_sdg_df.shape)

source_light_df (2490, 3)
source_drinking_water_df (2490, 3)
construction_materials_df (2490, 2)
building_tenure_df (2490, 2)
type_bulding_df (2490, 2)
gainful_workers_df (2490, 11)
floor_area_df (2490, 2)
sdg_df (2490, 19)
education_sdg_df (2482, 102)

In [10]:
print("education_sdg_df",education_sdg_df.shape)
education_sdg_df.to_csv('./data/output/Population_Schools_SDGs_Clean.csv',index=False)

with pd.option_context("display.max_rows",None):
    display(education_sdg_df.head(6).T)

education_sdg_df (2482, 102)

,0,1,2,3,4,5
PSGC_BRGY,PH150702001,PH150702002,PH150702004,PH150702005,PH150702006,PH150702007
both_age_0_to_4,187,459,120,583,727,591
male_age_0_to_4,117,232,63,332,302,308
female_age_0_to_4,70,227,57,251,425,283
both_age_5_to_9,79,161,62,305,354,236
male_age_5_to_9,35,77,40,159,201,114
female_age_5_to_9,44,84,22,146,153,122
both_age_10_to_14,73,133,80,269,398,220
male_age_10_to_14,42,69,39,155,217,121
female_age_10_to_14,31,64,41,114,181,99
both_age_15_to_19,50,139,62,247,319,210
male_age_15_to_19,28,67,29,113,170,117
female_age_15_to_19,22,72,33,134,149,93
both_age_20_to_24,77,124,46,214,281,188
male_age_20_to_24,41,57,19,110,153,90
female_age_20_to_24,36,67,27,104,128,98
both_age_25_to_29,52,92,32,205,248,153
male_age_25_to_29,29,48,14,93,129,87
female_age_25_to_29,23,44,18,112,119,66
both_age_30_to_34,42,79,26,180,224,124
male_age_30_to_34,20,40,8,93,104,70
female_age_30_to_34,22,39,18,87,120,54
both_age_35_to_39,37,68,29,137,142,105
male_age_35_to_39,19,26,10,74,67,55
female_age_35_to_39,18,42,19,63,75,50
both_age_40_to_44,38,67,28,109,145,110
male_age_40_to_44,22,34,17,44,75,49
female_age_40_to_44,16,33,11,65,70,61
both_age_45_to_49,38,41,27,110,122,107
male_age_45_to_49,19,21,15,50,67,57
female_age_45_to_49,19,20,12,60,55,50
both_age_50_to_54,23,36,7,116,103,97
male_age_50_to_54,12,14,3,57,42,52
female_age_50_to_54,11,22,4,59,61,45
both_age_55_to_59,26,24,11,67,66,60
male_age_55_to_59,16,13,6,30,30,29
female_age_55_to_59,10,11,5,37,36,31
both_age_60_to_64,16,32,11,50,68,61
male_age_60_to_64,9,11,5,36,32,31
female_age_60_to_64,7,21,6,14,36,30
both_age_65_to_69,18,17,12,27,57,27
male_age_65_to_69,6,5,6,12,34,15
female_age_65_to_69,12,12,6,15,23,12
both_age_70_to_74,6,15,5,22,21,17
male_age_70_to_74,3,5,2,9,9,11
female_age_70_to_74,3,10,3,13,12,6
both_age_75_to_79,1,11,3,13,9,16
male_age_75_to_79,1,5,1,3,5,3
female_age_75_to_79,0,6,2,10,4,13
both_age_80_to_84,8,6,2,11,9,16
male_age_80_to_84,4,4,0,6,4,10
female_age_80_to_84,4,2,2,5,5,6
both_age_6_to_12,111,209,93,411,527,307
male_age_6_to_12,54,102,49,226,305,153
female_age_6_to_12,57,107,44,185,222,154
both_age_13_to_16,40,109,62,201,287,185
male_age_13_to_16,23,54,31,97,149,105
female_age_13_to_16,17,55,31,104,138,80
both_age_17_to_18,23,50,27,93,129,83
male_age_17_to_18,15,23,11,47,69,46
female_age_17_to_18,8,27,16,46,60,37
both_age_19_to_22,55,113,37,202,230,154
male_age_19_to_22,29,58,13,98,121,76
female_age_19_to_22,26,55,24,104,109,78
both_age_6_to_16,151,318,155,612,814,492
male_age_6_to_16,77,156,80,323,454,258
female_age_6_to_16,74,162,75,289,360,234
total_popn,771,1504,563,2665,3293,2338
total_male_popn,423,728,277,1376,1641,1219
total_female_popn,348,776,286,1289,1652,1119
No_of_Schools,1,1,NaN,1,1,1
SCH_TYPE_PRIVATE,0,0,NaN,0,0,0
SCH_TYPE_PUBLIC,1,1,NaN,1,1,1
SCH_TYPE_SUC,0,0,NaN,0,0,0
SCH_CAT_CES,0,0,NaN,0,0,0
SCH_CAT_ES,1,1,NaN,1,1,1
SCH_CAT_JHS,0,0,NaN,0,0,0
SCH_CAT_MD,0,0,NaN,0,0,0
SCH_CAT_PES,0,0,NaN,0,0,0
SCH_CAT_PJHS,0,0,NaN,0,0,0
SCH_CAT_PS,0,0,NaN,0,0,0
SCH_CAT_PSHS,0,0,NaN,0,0,0
SCH_CAT_SHS,0,0,NaN,0,0,0
SCH_CAT_SUC,0,0,NaN,0,0,0
SDG_Households_Electricity_Light_Pct,0.65625,0.792208,0.39604,0.870968,0.71978,0.83105
SDG_Households_Kerosene_Gass_Light_Pct,0.34375,0.207792,0.594059,0.126728,0.236264,0.157534
SDG_Households_Drinking_Owned_Faucet_Pct,0.05,0.0519481,0.019802,0.0990783,0.0018315,0.287671
SDG_Households_Drinking_Shared_Faucet_Pct,0.41875,0.00865801,0.138614,0.730415,0.0128205,0.321918
SDG_Households_Construction_Material_Concrete_Pct,0.0763889,0.247826,0.09,0.147541,0.0586081,0.11215
SDG_Building_Tenure_Type_Owned_Pct,0.8375,0.74026,0.574257,0.612903,0.119048,0.212329
SDG_Type_Building_Single_Pct,0.986111,0.873913,1,0.887588,0.941392,0.995327
SDG_Type_Worker_Man,0.0189573,0.0744048,0.0939597,0.0541562,0.0768463,0.0438596
SDG_Type_Worker_Pro,0.042654,0.047619,0,0.0516373,0.0169661,0.0263158
SDG_Type_Worker_Tec,0.014218,0.00297619,0,0.0214106,0.00299401,0.0116959
SDG_Type_Worker_Cle,0.0853081,0.0119048,0.00671141,0.0403023,0.0239521,0.0233918
SDG_Type_Worker_Ser,0.208531,0.047619,0,0.070529,0.106786,0.0847953
SDG_Type_Worker_Ski,0.507109,0.529762,0.785235,0.488665,0.525948,0.494152
SDG_Type_Worker_Cra,0.0331754,0.0535714,0.0268456,0.0327456,0.0199601,0.0818713
SDG_Type_Worker_Pla,0.014218,0.119048,0.0201342,0.059194,0.0489022,0.125731
SDG_Type_Worker_Ele,0.0521327,0.113095,0.0671141,0.164987,0.171657,0.0964912
SDG_Type_Worker_Arm,0.0236967,0,0,0.011335,0.00499002,0.0102339
SDG_less_than_54_sqft,0.275449,0.287554,0.0425532,0.00209205,0.061657,0.391509