In [1]:
import numpy as np
import pandas as pd
import geopandas as gpd

import os

## Tabular Data

In [2]:
TABULAR_PATH = 'data/tabular/'
os.listdir(TABULAR_PATH)

['Number of schools per brgy.xlsx', 'Population 2010, 2015 ARMM,BCT.xlsx']

In [3]:
schools_data = pd.read_excel(TABULAR_PATH+'Number of schools per brgy.xlsx')
schools_data.head()

,PROV,PSGC_PROV,CITY/MUNI,PSGC_CITY/MUNI,BRGY,PSGC_BRGY,Number of School
0,BASILAN,PH150700000,CITY OF LAMITAN (Capital),PH150702000,Arco,PH150702001,1
1,BASILAN,PH150700000,CITY OF LAMITAN (Capital),PH150702000,Ba-as,PH150702002,1
2,BASILAN,PH150700000,CITY OF LAMITAN (Capital),PH150702000,Balagtasan,PH150702005,1
3,BASILAN,PH150700000,CITY OF LAMITAN (Capital),PH150702000,Balas,PH150702006,1
4,BASILAN,PH150700000,CITY OF LAMITAN (Capital),PH150702000,Balobo,PH150702007,1

In [4]:
schools_data.describe()

       Number of School
count       1570.000000
mean           1.726752
std            1.439181
min            1.000000
25%            1.000000
50%            1.000000
75%            2.000000
max           15.000000

In [5]:
population_data = pd.read_excel(TABULAR_PATH+'Population 2010, 2015 ARMM,BCT.xlsx')
population_data.head()

,REGI,PSGC_REGI,PROV,PSGC_PROV,MuniCities,PSGC_CITY/MUNI,BrgyName,PSGC_BRGY,BCT,Pop2010,...,80_abv_mal,num_hh0_fem.1,bel_20_hh0_fem,20-29_hh0_fem,30-39_hh0_fem,40-49_hh0_fem,50-59_hh0_fem,60-69_hh0_fem,70-79_hh0_fem,80_abv_fem
0,Autonomous Region In Muslim Mindanao,PH150000000,Basilan,PH150700000,City Of Lamitan,PH150702000,Arco,PH150702001,1,800,...,3.0,23.0,0.0,1.0,3.0,0.0,8.0,6.0,2.0,3.0
1,Autonomous Region In Muslim Mindanao,PH150000000,Basilan,PH150700000,City Of Lamitan,PH150702000,Ba-as,PH150702002,1,1266,...,3.0,72.0,0.0,9.0,13.0,16.0,13.0,14.0,7.0,0.0
2,Autonomous Region In Muslim Mindanao,PH150000000,Basilan,PH150700000,City Of Lamitan,PH150702000,Baimbing,PH150702004,1,451,...,0.0,25.0,0.0,4.0,1.0,3.0,4.0,8.0,4.0,1.0
3,Autonomous Region In Muslim Mindanao,PH150000000,Basilan,PH150700000,City Of Lamitan,PH150702000,Balagtasan,PH150702005,1,2597,...,6.0,76.0,1.0,2.0,10.0,18.0,24.0,7.0,13.0,1.0
4,Autonomous Region In Muslim Mindanao,PH150000000,Basilan,PH150700000,City Of Lamitan,PH150702000,Balas,PH150702006,1,2809,...,2.0,166.0,2.0,26.0,39.0,28.0,32.0,28.0,7.0,4.0

In [6]:
population_data.describe().T

,count,mean,std,min,25%,50%,75%,max
BCT,2721.0,1.087835,0.283107,1.0,1.0,1.0,1.0,2.0
Pop2010,2721.0,1409.600515,1699.751787,0.0,605.0,988.0,1624.0,36622.0
Pop2015,2721.0,1637.785373,1971.016968,132.0,694.0,1083.0,1879.0,36650.0
HH_pop,2482.0,1514.807010,1749.869014,132.0,683.0,1044.0,1790.5,36650.0
num_hh0,2482.0,249.169218,283.684970,24.0,106.0,171.0,298.0,5144.0
...,...,...,...,...,...,...,...,...
40-49_hh0_fem,2482.0,5.282836,7.675908,0.0,1.0,3.0,6.0,106.0
50-59_hh0_fem,2482.0,4.563255,7.826941,0.0,1.0,2.0,5.0,155.0
60-69_hh0_fem,2482.0,2.923046,5.364666,0.0,0.0,1.0,4.0,78.0
70-79_hh0_fem,2482.0,1.170830,2.789221,0.0,0.0,0.0,1.0,43.0
80_abv_fem,2482.0,0.351732,1.035823,0.0,0.0,0.0,0.0,16.0

## Geographical Data

In [7]:
GEODATA_PATH = 'data/geodata/'
os.listdir(GEODATA_PATH)

['Roads in ARMM (OSM 2019)', 'SchoolsARMMDEPED2017']

In [8]:
roads_geodata = gpd.read_file(GEODATA_PATH+'Roads in ARMM (OSM 2019)/InfraRoadsARMMOSM2019.shp')
roads_geodata.head()

,osm_id,code,fclass,name,ref,oneway,maxspeed,layer,bridge,tunnel,geometry
0,210935215,5113,primary,None,None,B,0,0,F,F,"LINESTRING (122.27089 6.64083, 122.27119 6.640..."
1,210935219,5113,primary,None,None,B,0,0,F,F,"LINESTRING (122.11945 6.50060, 122.11907 6.501..."
2,210935220,5142,track,None,None,B,0,0,F,F,"LINESTRING (122.14195 6.63450, 122.14231 6.634..."
3,210935221,5142,track,None,None,B,0,0,F,F,"LINESTRING (122.16074 6.63023, 122.16049 6.629..."
4,210935223,5142,track,None,None,B,0,0,F,F,"LINESTRING (122.22433 6.65494, 122.22405 6.655..."

In [9]:
roads_geodata.describe()

              code     maxspeed        layer
count  6573.000000  6573.000000  6573.000000
mean   5125.432375     0.896090     0.033622
std      11.113406     8.284191     0.180269
min    5112.000000     0.000000     0.000000
25%    5121.000000     0.000000     0.000000
50%    5122.000000     0.000000     0.000000
75%    5122.000000     0.000000     0.000000
max    5199.000000   100.000000     1.000000

In [10]:
schools_geodata = gpd.read_file(GEODATA_PATH+'SchoolsARMMDEPED2017/SchoolsARMMDEPED2017.shp')
schools_geodata.head()

,SCH_ID,SCH_NAME,SCH_CAT,SCH_TYPE,LAT,LONG,BARANGAY,MUNNAME,PROV,PSGC_MUNI,PSGC_BRGY,PSGC_PROV,geometry
0,133049,Abong-Abong ES,ES,Public,6.507703,121.910937,Abong-Abong,Maluso,BASILAN,PH150704000,PH150704001,PH150700000,POINT (121.91094 6.50770)
1,215015,Akbar ES,ES,Public,6.664125,122.195725,Upper Bato-Bato,Akbar,BASILAN,PH150708000,PH150708008,PH150700000,POINT (122.19572 6.66413)
2,133154,Amaloy ES,ES,Public,6.443614,122.126717,Amaloy,Ungkaya Pukan,BASILAN,PH150711000,PH150711001,PH150700000,POINT (122.12672 6.44361)
3,133023,Atong-Atong ES,ES,Public,6.660000,121.899633,Atong-Atong,Lantawan,BASILAN,PH150703000,PH150703001,PH150700000,POINT (121.89963 6.66000)
4,133081,Babag ES,ES,Public,6.342007,121.954045,Babag (Babuan Island),Tabuan-Lasa,BASILAN,PH150713000,PH150713001,PH150700000,POINT (121.95404 6.34201)

In [11]:
schools_geodata.describe()

              SCH_ID          LAT         LONG
count    2711.000000  2539.000000  2539.000000
mean   203773.028403     6.875545   123.004048
std    113530.265986     0.935225     1.741595
min    100804.000000     4.641594   118.311000
25%    133752.000000     6.052737   121.143735
50%    134504.000000     7.010479   124.149102
75%    217771.500000     7.780703   124.325308
max    800161.000000     8.092139   124.958000