In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import os

import warnings
warnings.filterwarnings("ignore")

TABULAR_PATH = 'data/tabular/'
data_files = os.listdir(TABULAR_PATH)
data_files

['Condition(State of Repair)oftheBuilding(ARMM, 2010)Brgy.xlsx',
 'Construction Materials of the Roof (ARMM 2015)Brgy.xlsx',
 'Construction Materials of the Walls(ARMM 2015).xlsx',
 'Floor Area (ARMM, 2010) Brgy.xlsx',
 'Household Population by Ethnicity (ARMM, 2010) Brgy.xlsx',
 'Main Source of Water Supply for Cooking (ARMM 2015) Brgy.xlsx',
 'Main Source of Water Supply for Drinking (ARMM 2015) Brgy.xlsx',
 'Number of Households by Kind of Fuel for Lighting (ARMM 2015) Brgy.xlsx',
 'Number of schools per brgy.xlsx',
 'Population 2010, 2015 ARMM,BCT.xlsx',
 'Tenure Status of the Lot (ARMM 2010) Brgy.xlsx',
 'Type of Building (ARMM 2015) Brgy.xlsx',
 'Year Built (ARMM 2010) Brgy.xlsx']

In [2]:
population_df = pd.read_excel(TABULAR_PATH+'Population 2010, 2015 ARMM,BCT.xlsx')

In [3]:
both_single_age_cols = [col for col in population_df.columns if (col.split("_")[-2:][0]=="bot")]
student_age_cols = [col for col in both_single_age_cols if (int(col.split("_")[-1])>6) & (int(col.split("_")[-1])<26)]

student_population_df = population_df[["PSGC_BRGY"]+student_age_cols]
student_population_df["student_popn_age_7_to_25"] = student_population_df.loc[:,student_age_cols].sum(axis=1)
student_population_df.drop(columns=student_age_cols,inplace=True)
print(student_population_df.shape)
student_population_df.head()

(2721, 2)

     PSGC_BRGY  student_popn_age_7_to_25
0  PH150702001                     250.0
1  PH150702002                     497.0
2  PH150702004                     237.0
3  PH150702005                     953.0
4  PH150702006                    1277.0

In [4]:
schools_df = pd.read_excel(TABULAR_PATH+'Number of schools per brgy.xlsx',usecols=["PSGC_BRGY","Number of School"])
print(schools_df.shape)
schools_df.head()

(1570, 2)

     PSGC_BRGY  Number of School
0  PH150702001                 1
1  PH150702002                 1
2  PH150702005                 1
3  PH150702006                 1
4  PH150702007                 1

In [5]:
education_df = pd.merge(student_population_df,schools_df,on="PSGC_BRGY",how="left")
education_df.fillna(0,inplace=True)
print(education_df.shape)
education_df.head()

(2721, 3)

     PSGC_BRGY  student_popn_age_7_to_25  Number of School
0  PH150702001                     250.0               1.0
1  PH150702002                     497.0               1.0
2  PH150702004                     237.0               0.0
3  PH150702005                     953.0               1.0
4  PH150702006                    1277.0               1.0